@charset "utf-8";

/* jinstar */
img{ max-width:100%;}
html *{ letter-spacing:-0.04em; white-space:normal; word-break:keep-all;}
h1,h2,h3,h4,h5,h6{ line-height:1.3; font-weight:500;}

.agc_pd_box{ padding:120px 0; margin:0 auto; max-width:1200px;}

.agc_m_tit{ font-size:24px; color:#57595A; margin-bottom:10px; font-weight:500; line-height:1.1;}
.agc_m_stit{ font-size:32px; color:#333; margin-bottom:40px; font-weight:700; line-height:1.1;}
.agc_m_stit a{ float:right; margin-top:-10px;}

.agc_border_btn{ display:inline-block; line-height:48px; height:48px; width:140px; border-radius:50px; border:1px solid #333; padding:0 15px 0 15px; position:relative; font-size:16px; box-sizing:Border-box; text-align:center; font-weight:500;}
.agc_border_btn:after{ display:inline-block; content:''; vertical-align:middle; height:19px; width:19px; background:url('../images/view_arw.svg') 50% 50% no-repeat; margin-left:10px; top:-1px; position:relative;}
.agc_border_btn:hover{ background-color:#333; color:#fff; cursor:pointer;}
.agc_border_btn:hover:after{ background-image:url('../images/view_arw_on.svg');}
.agc_border_btn.agc_re{ border-color:#fff;}
.agc_border_btn.agc_re:after{ background-image:url('../images/view_arw_on.svg');}
.agc_border_btn.agc_re:hover{ border-color:#fff; background-color:#fff; color:#333;}
.agc_border_btn.agc_re:hover:after{ background-image:url('../images/view_arw.svg');}

.main_visual{ margin-bottom:0;}
.slider-banner-511517418 .slick-dots li button{ border:1px solid #000 !important; background:none !important; width:10px !important; height:10px !important; padding:0 !important;}
.slider-banner-511517418 .slick-dots li.slick-active button{ background-color:#fff !important; border-color:#fff !important;}

.agc_main_lineup{ }
.agc_main_lineup ul{ margin:0; padding:0; overflow:hidden; margin-left:-2%;}
.agc_main_lineup ul li{ margin:0; padding:0; list-style:none; float:left; width:23%; margin-left:2%; text-align:center;}
.agc_main_lineup ul li p{ font-size:18px; color:#333; margin-bottom:15px; font-weight:500;}

.agc_main_youtube{ }

.agc_main_product .agc_pd_box{ overflow:Hidden;}
.agc_mp_left{ float:left; width:660px;}
.agc_mp_right{ float:right; width:calc(100% - 700px); border-bottom:1px solid #ddd; height:495px;}
.agc_mp_tab{ padding-top:20px; padding-bottom:38px; margin-bottom:35px; border-bottom:1px solid #ddd;}
.agc_mp_tab ul{ margin:0; padding:0; margin-left:-2%; overflow:hidden;}
.agc_mp_tab ul li{ margin:0; padding:0; list-style:none; float:left; width:23%; margin-left:2%;}
.agc_mp_tab ul li p{ line-height:50px; height:50px; border-radius:50px; border:1px solid #ddd; padding:0 20px 0 20px; position:relative; font-size:18px; text-align:center; cursor:pointer;}
.agc_mp_tab ul li.agc_active p{ background-color:#004876; color:#fff;}
.agc_mp_tab ul li.agc_active p{ color:#fff;}
.agc_mp_tab ul li:nth-child(1).agc_active p{ background-color:#004876;}
.agc_mp_tab ul li:nth-child(2).agc_active p{ background-color:#892C27;}
.agc_mp_tab ul li:nth-child(3).agc_active p{ background-color:#3A5D45;}
.agc_mp_tab ul li:nth-child(4).agc_active p{ background-color:#D3807C;}
.agc_mp_con{ display:none;}
.agc_mp_con.agc_active{ display:block;}
.agc_mp_con h4{ font-size:22px; color:#333; margin-bottom:20px; font-weight:600;}
.agc_mp_con p{ margin-bottom:20px;}
.agc_mp_con p span{ display:inline-block; font-size:18px; margin-right:20px; font-weight:600;}
.agc_mp_img{ display:none;}
.agc_mp_img.agc_active{ display:block;}
.agc_mc_1 p span{ border-color:#004876; color:#004876;}
.agc_mc_2 p span{ border-color:#892C27; color:#892C27;}
.agc_mc_3 p span{ border-color:#3A5D45; color:#3A5D45;}
.agc_mc_4 p span{ border-color:#D3807C; color:#D3807C;}
.agc_mp_con ul{ margin:0; padding:0; margin-bottom:40px;}
.agc_mp_con ul li{ margin:0; padding:0; list-style:none; font-size:18px; color:#57595A; padding-left:13px; position:Relative; margin-bottom:10px;}
.agc_mp_con ul li:after{ content:''; display:inline-block; width:3px; height:3px; border-radius:50%; background-color:#57595A; position:absolute; top:12px; left:0px;}

.agc_main_brandstory{ background:url('../images/1920x420_brandstory.jpg') 50% 50% no-repeat; background-size:cover; padding:0 0 0;}
.agc_main_brandstory *{ color:#fff;}
.agc_main_brandstory .agc_pd_box{ overflow:hidden; padding:75px 0 72px; height:420px; box-sizing:border-box;}
.agc_main_brandstory .agc_pd_box > div{ width:400px; float:right;}
.agc_main_brandstory .agc_pd_box > div h4{ font-size:48px; margin-bottom:20px;}
.agc_main_brandstory .agc_pd_box > div p{ font-size:18px; margin-bottom:20px;}

.agc_main_magazine{}
.agc_main_magazine ul{ margin:0; padding:0; overflow:hidden; margin-left:-3%;}
.agc_main_magazine ul li{ margin:0; padding:0; list-style:none; float:left; width:30.33333333333%; margin-left:3%;}
.agc_main_magazine ul li a{ display:block;}
.agc_main_magazine ul li a img{ margin-bottom:30px; width:100%; border-radius:2px;}
.agc_main_magazine ul li h4{ font-size:22px; color:#333; margin-bottom:10px; overflow:hidden; max-width:99%; display:block; text-overflow:ellipsis; -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical; line-height:1.3; }
.agc_main_magazine ul li p{ font-size:18px; color:#57595A; overflow:hidden; max-width:99%; display:block; text-overflow:ellipsis; -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical; line-height:1.3;}

.agc_main_review{ padding:0 0; background-color:#F8F8F8; border-top:1px solid #ddd;}
.agc_main_review .agc_pd_box{ position:relative;}
.agc_main_review .swiper{ width:100%; height:100%; box-sizing:border-box;}
.agc_main_review .swiper-slide{ text-align:left; font-size:18px; background:#fff; background:none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-box-align: left;
	-ms-flex-align: left;
	-webkit-align-items: left;
	align-items: left;
	}
.agc_main_review .swiper-backface-hidden .swiper-slide{ display:block;}
.agc_main_review .swiper-button-prev,
.agc_main_review .swiper-button-next{ height:40px; width:40px; line-height:47px; background-color:rgba(255,255,255,1) !important; display:block; text-align:center; border-radius:50%;}
.agc_main_review .swiper-button-next:after,
.agc_main_review .swiper-button-prev:after{ font-size:19px; font-weight:Bold; color:#000;}
.agc_main_review .swiper-button-prev{ left:-60px;}
.agc_main_review .swiper-button-next{ right:-60px;}

.agc_main_review ul{ margin:0; padding:0; /*overflow:hidden; margin-left:-3%;*/}
.agc_main_review ul li{ /*margin:0; padding:0; list-style:none; float:left; width:22%; margin-left:3%;*/}
.agc_main_review_thumbnail {width:277.5px; height:277.5px;}

.agc_r_img{ }
.agc_r_con{ padding:10px; background-color:#fff; margin-bottom:10px;}
.agc_r_star{ display:inline-block; width:110px; height:22px; background:url('../images/star_unfill.svg') 0% 0% no-repeat;}
.agc_r_star span{ display:inline-block; height:22px; background:url('../images/star_fill.svg') 0% 0% no-repeat;}
.agc_r_tit{ font-size:18px; color:#333; margin-bottom:10px;}
.agc_r_sjt{ font-size:14px; color:#57595A; max-width:99%; display:block; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:3; display:-webkit-box; -webkit-box-orient:vertical; line-height:1.3; margin-bottom:15px; white-space:break-all; word-break:break-all;}
.agc_r_write{ overflow:hidden;}
.agc_r_date{ float:left; color:#333; font-size:14px;}
.agc_r_name{ float:right; color:#57595A; font-size:14px;}
.agc_r_pro{ padding:10px; height:48px; background-color:#fff;}
.agc_r_pro a{ display:block; overflow:Hidden;}
.agc_r_pro a p{ float:left; width:48px; height:48px;}
.agc_r_pro a span{ line-height:48px; display:inline-block; padding-left:10px; font-size:16px; color:#333; width:calc(100% - 60px); text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.board_zone_tit{ margin:0; padding:0;}
.board_zone_tit .agc_m_tit{ text-align:center;}
.board_zone_tit .agc_m_stit{ text-align:center; margin-bottom:60px;}

.board_hot_list{ padding:20px 0 40px !important; border:0 !important; text-align:Center;}
.board_hot_list ul{ text-align:center;}
.board_hot_list ul li{ display:inline-block; margin:0 5px;}
.board_hot_list ul li a{ display:block; padding:0 20px; border:1px solid #333; text-align:center; line-height:50px; height:50px; color:#333; font-size:22px; font-weight:normal !important; text-decoration:none !important; border-radius:50px;}
.board_hot_list ul li a:first-child{ border-left:1px solid #333;}
.board_hot_list ul li a span{ top:0;}
.board_hot_list ul li a:hover span:hover{ font-weight:normal !important; text-decoration:none !important;}
.board_hot_list ul li.on a{ background-color:#333; color:#fff;}

.pagination{ text-align:center;} 
.pagination li{ margin:0 5px;}
.pagination li a,
.pagination li span{ width:40px; height:40px; border:1px solid transparent; color:#333; background:none; border-radius:50%; padding:0; line-height:40px; font-size:18px; font-weight:normal;}
.pagination .on{ border:0 !important;}
.pagination li.on span,
.pagination li.on span{ background-color:#333; color:#fff; border-color:#333;}

.agc_no_data{ width:100% !important; font-size:18px !important; text-align:center !important; float:none !important; margin:0 !important; }

.board_search_box{ margin:0 0 20px !important; background:none !important; border:0; float:right; height:60px;}
.board_search_box .chosen-container.chosen-container-single{ float:left; width:127px !important;}
.board_search_box .chosen-container.chosen-container-single .chosen-single{ background:none !Important; border:1px solid #ddd !important; height:60px !important; line-height:60px !important; padding:16px 24px; color:#333; box-sizing:border-box; display:block; margin:0; font-size:18px; color:#888; border-radius:5px; width:127px;}
.board_search_box .chosen-container-single .chosen-single div{ right:21px;}
.board_search_box .chosen-container-single .chosen-single div b{ background-position:2px 17px !important;}
.board_search_box .chosen-container-active.chosen-with-drop .chosen-single div b{ background-position:-14px 17px !important;}
.board_search_box input,
.board_search_box .btn_board_search{ background:none !Important; border:1px solid #ddd !important; float:left; height:60px; line-height:60px; padding:0 10px; color:#333; box-sizing:border-box; display:block; margin:0; font-size:18px; color:#888; border-radius:5px;}
.board_search_box input{ width:300px; border-right:0 !important; margin-left:20px; border-radius:5px 0 0 5px;}
.board_search_box .btn_board_search{ width:53px; font-size:0; background:url('../images/search_icon.svg') 8px 50% no-repeat !important; border-left:0 !important; border-radius:0 5px 5px 0; padding-right:24px !important;}

.sub_content{ padding-top:100px;}
agc_r_pro > a > img{
	width:40px!important;
	height:40px!important;
	margin-right:10px;
}